#########################
# general patterns
#########################

docs/html
docs/tagfile.xml

*/bin/*
!*/bin/data/

# for bin folder in root
/bin/*
!/bin/data/

[Bb]uild/
[Oo]bj/
*.o
[Dd]ebug*/
[Rr]elease*/
*.mode*
*.app/
*.pyc
.svn/

#########################
# IDE
#########################

# XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
#XCode 4
xcuserdata
*.xcworkspace

# Code::Blocks
*.depend
*.layout
*.cbTemp

# Visual Studio
*.sdf
*.opensdf
*.suo
*.pdb
*.ilk
*.aps
ipch/

# Eclipse
.metadata
local.properties
.externalToolBuilders

# Codelite
*.session
*.tags
*.workspace.*

#########################
# operating system
#########################

# Linux
*~
# KDE
.directory
.AppleDouble

# OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

# Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

#Android
.csettings

#########################
# packages
#########################

# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases
*.log
*.sql
*.sqlite
example-with-history/.vs/example-with-history/FileContentIndex/6817f4c8-ac53-4444-b26a-49dbf8e5596f.vsidx
example-with-history/.vs/example-with-history/FileContentIndex/read.lock
example-with-history/.vs/example-with-history/v17/Browse.VC.db
example-with-history/.vs/example-with-history/v17/Browse.VC.db-shm
example-with-history/.vs/example-with-history/v17/Browse.VC.db-wal
example-with-history/.vs/example-with-history/v17/Browse.VC.opendb
example-with-history/.vs/example-with-history/v17/fileList.bin
example-with-history/.vs/example-with-history/v17/Solution.VC.db
example-with-history/.vs/example-with-history/v17/Solution.VC.db-shm
example-with-history/.vs/example-with-history/v17/Solution.VC.db-wal
example-with-history/addons/ofxChatGPT/src/ofxChatGPT.obj
example-with-history/example-with-history.sln
example-with-history/example-with-history.vcxproj
example-with-history/example-with-history.vcxproj.filters
example-with-history/example-with-history.vcxproj.user
example-with-history/icon.rc
example-threaded/.vs/example-threaded/FileContentIndex/d5ab7e71-7a4a-452b-9287-7c72a5906a9a.vsidx
example-threaded/.vs/example-threaded/FileContentIndex/read.lock
example-threaded/.vs/example-threaded/v17/Browse.VC.db
example-threaded/.vs/example-threaded/v17/Browse.VC.db-shm
example-threaded/.vs/example-threaded/v17/Browse.VC.db-wal
example-threaded/.vs/example-threaded/v17/Browse.VC.opendb
example-threaded/.vs/example-threaded/v17/Solution.VC.db
example-threaded/.vs/example-threaded/v17/Solution.VC.db-shm
example-threaded/.vs/example-threaded/v17/Solution.VC.db-wal
example-threaded/addons/ofxChatGPT/src/ofxChatGPT.obj
example-threaded/example-threaded.sln
example-threaded/example-threaded.vcxproj
example-threaded/example-threaded.vcxproj.filters
example-threaded/example-threaded.vcxproj.user
example-threaded/icon.rc
example-threaded/.vs/example-threaded/FileContentIndex/d1c1de5c-9be5-4cf8-96e2-624233cb561f.vsidx
